<div class="card-group">
  <div class="card" *ngFor="let usuario of usuarios">
    <img [src]="usuario.avatar" class="card-img-top" alt="avatar">
    <div class="card-body">
      <h5 class="card-title">{{ usuario.id }} - {{ usuario.first_name }} {{ usuario.last_name }}</h5>
      <p class="card-text"><small class="text-muted">{{ usuario.email }}</small></p>
    </div>
  </div>
</div>
<div *ngIf="loading" class="alert alert-info text-center" role="alert">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync fa-spin fa-2x"></i>
  </p>
  <p class="mb=0"></p>
</div>
<div *ngIf="!!error" class="alert alert-danger text-center" role="alert">
  <h4 class="alert-heading">Error</h4>
  <p>
    {{ error | json }}
  </p>
  <p class="mb=0"></p>
</div>